<div class="case-study row">
	<h3 class="case-study--heading block-heading__no-margin col-xs-12 col-lg-3">{{title}}</h3>
	<div class="case-study--content col-sm-8 col-lg-5">
		{{{description}}}
	</div>
	<div class="case-study--image col-sm-4 col-lg-4">
		<img src="./images/{{image}}" alt="{{imageAlt}}" class="responsive">
	</div>
</div>