<div class="row">
	<div class="col-sm-6 col-md-3">
		<h4>{{location}}</h4>
		<h5>{{description}}</h5>
		<em>{{date}}</em>
	</div>
	<div class="col-sm-6 col-md-9">
		{{#if points}}
			{{> points}}
		{{/if}}
	</div>
</div>