<main id="body-main" class="container">
	<div class="row">
		<div class="col-md-9">
				<h1>{{title}}</h1>
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa nisi quos quia ea commodi saepe, animi fugiat veniam, voluptatum quidem mollitia! Exercitationem tenetur ipsam optio minima inventore dolore quia magnam, modi voluptatum, ducimus eaque vel ipsa vero. Nihil recusandae ratione facere, obcaecati possimus, laboriosam nulla rerum in quisquam, architecto cum!</p>
		</div>
	</div>
	
</main>