<div class="row content-row">
	<div class="col-sm-6 col-md-3">
		<h4>{{position}}</h4>
		<h5>{{company}}</h5>
		<p>{{companyDescription}}</p>
		<em>{{date}}</em>
	</div>
	<div class="col-sm-6 col-md-9">
		{{#if points}}
			{{> points}}
		{{/if}}
	</div>
</div>