// Colours
$highlight: rgba(72, 190, 255, 1);
$dark: rgba(98, 144, 195, 1);
$grey: rgba(194, 231, 218, 1);
$bold: rgba(138, 132, 226, 1);
$neutral: rgba(241, 255, 231, 1);// Font
// Font
$fontSerif: Bookman;
$fontSans: verdana;

// Font sizes
$fzH2: 30px; 