// Colours
$highlight: rgba(72, 190, 255, 1);
$dark: rgba(98, 144, 195, 1);
$grey: rgba(194, 231, 218, 1);
$bold: #337ab7;
$neutral: rgba(241, 255, 231, 1);
$offWhite: rgba(250, 250, 250, 1);

$font : #42c9c9;

// Font
$fontSerif: Bookman;
$fontSans: verdana;

// Font sizes
$fzH2: 30px; 